*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
.perfil{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 150px;
    max-width: 120px;
    position: absolute;
    margin-left: 125px;
    margin-top: 150px;
    
}

.capa1{
    width: 380px;
    height: 210px;
}


.caixa{

    background-color: red;
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    
}
.caixa1{
    background-color: rgb(6, 138, 17);
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    margin-right: 180px;
    
    
}
.caixa2{
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    margin-right: 180px;
    background-color: blueviolet;
    

}
.caixa3{
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    background-color: rgba(19, 19, 223, 0.788);
}
.caixa4{
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    background-color: darkgoldenrod;
    margin-right: 180px;
}
.caixa5{
    max-width: 380px;
    max-height: 700px;
    border-radius: 5%;
    background-color: blueviolet;
}
.texto{
    margin-top: 80px;
    text-align: center;
    max-width: 370px;

}
.titulo{
    margin-top: 80px;
    text-align: center;
    color: yellow;
    font-size: 30px;
    
}
.principal{
    display: flex;
    margin-left: 200px;
    flex-direction: row;
    margin-bottom: 100px;
    
}
.principal1{
    display: flex;
    margin-left: 200px;
    flex-direction: row;
    margin-bottom: 100px;
    
}
.principal2{
    display: flex;
    margin-left: 200px;
    flex-direction: row;
    margin-bottom: 100px;
    
}
.cabeçalho{
    margin-bottom: 140px;
    font-size: 60px;
    color: indigo;
}
.botão{
    background-color: cyan;
    color: white;
    border-radius: 10%;
    height: 50px;
    width: 90px;
    margin-top: 40px;
    margin-left: 145px;
}

